[submodule "shared/cstruct"]
	path = shared/cstruct
	url = https://github.com/johann-gorban/cstruct.git
[submodule "shared/clog"]
	path = shared/clog
	url = https://github.com/johann-gorban/clog.git
[submodule "shared/cJSON"]
	path = shared/cJSON
	url = https://github.com/DaveGamble/cJSON.git
